<h2><%= t '.title' %></h2>

<%= render 'form' %>

<div class="text-center">
	<a href="<%= compras_path %>" class="btn btn-default btn-xs">
	  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <%= t('links.back') %>
	</a>
</div>