<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @fabricante.descricao %>
</p>

<%= link_to 'Edit', edit_fabricante_path(@fabricante) %> |
<%= link_to 'Back', fabricantes_path %>
